
<div class='new-list'>
	<form method="POST" action="/list/create">
		Name: <input type="text" name="name"> <br> <br>
		Created By: <input type = "text" name="createdBy"><br><br>
		<input type="submit" value="Create a new list">
	</form>
</div>
