<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
  </head>
  <body>
  	<h1>Lets Go Shopping!</h1>
    {{{body}}}
    <div class = "links">
    	<a href="/list/create">Create a New List</a> |
    	<a href="/list">All Lists</a>
    </div>
  </body>
</html>
